<table class="asset-table">
  <thead>
    <tr class="asset-table-row asset-table-header">
      <th *ngFor="let column of displayedColumns">
        <ng-container *ngIf="column.sort">
          <div
            class="header sort"
            (click)="sort(column)"
            title="Click to sort by {{ column.header }}"
          >
            <span>{{ column.header }}</span>
            <span class="material-icons">{{ getSortIcon(column.order) }}</span>
          </div>
        </ng-container>
        <ng-container *ngIf="!column.sort">
          {{ column.header }}
        </ng-container>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="asset-table-row"
      *ngFor="let asset of assets"
      [ngClass]="asset.assetClass?.toLowerCase()"
    >
      <td
        *ngFor="let column of displayedColumns"
        [ngClass]="column.style ? column.style(asset[column.field]) : ''"
      >
        <ng-container *ngIf="column.value">
          {{ column.value(asset[column.field]) }}
        </ng-container>
        <ng-container *ngIf="!column.value">
          {{ asset[column.field] }}
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>
